@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.monthlyScheduleBody{
    height: 100vh;
    position: relative;
  font-family: "Inter", sans-serif;
}
.weeksContainer{
    border: 2px solid black;
    position: absolute;
    margin: .5em;
    bottom: 0;
    right: 0;
    height: 88%;
    width: 88%;
    border-radius: 10px;
}
.weekBox{
    height: 24.5%;
    width: 100%;
    margin: .2em;
    padding: .2em;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: end;
}
.weekName{
    position: absolute;
    left: 1.2%;
    top: 80%;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: left center;
    font-size: 1em;
    white-space: nowrap;
    font-size: 1.5em;
}
.daysContainer{
    border: 1px solid black;
    height: 100%;
    width: 97%;
    border-radius: 10px;
    margin-right: .54em;
    display: flex;
    gap: .2em;
    padding: .2em;
}
.monthlyScheduleday{
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
}
.weekDate{
    display: flex;
    justify-content: space-between;
    padding: 0 .3em ;
}
.dayName,
.dayDate{
    font-size: 1em;
}
.monthlyAppointmentsBox{
    display: flex;
}