.passwordRecoverBody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.flex-column p{
    color: var(--light-black-color);
}