.appointmentModalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
}

.appointmentModalContent {
  background-color: #ffffff;
  padding: 30px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.appointmentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-column > label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #ecedec;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.input {
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1em;
}

.input:focus {
  outline: none;
}

.button-submit {
  margin-top: 20px;
  background-color: #151717;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-submit:hover {
  background-color: #252727;
}
