.appointmentCreationBody {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.appointmentCreationContent{
  background: var(--grey-color);
  border-radius: 20px;
  padding: 1em;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.appointmentCreationForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 100%;
}

.coolinput label.text {
  font-size: 1em;
  color: #0c64d6;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin-left: 7px;
  padding: 0 3px;
  background: #e8e8e8;
  width: fit-content;
  z-index: 1;
}

.coolinput input.input {
  padding: 11px 10px;
  font-size: 1em;
  border: 2px #0c64d6 solid;
  border-radius: 5px;
  background: #e8e8e8;
  z-index: 0;
}

.coolinput input.input:focus {
  outline: none;
}

/* ==== BUTTON ==== */
.appointmentCreationBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.createAppointmentBTN {
  padding: 10px 20px;
  background-color: #0c64d6;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.createAppointmentBTN:hover {
  background-color: #6366f1;
}
