
.actionBtnBody{
    padding: .3em;
    background-color: var(--white-color);
    border-radius: 9999px;
    display: flex;
    justify-content: space-between;
    height: 3em;
    font-weight: 600;
}

.ActionBtn {
    text-decoration: none;
    font-size: 1em;
    color: var(--black-color);
    background-color: var(--grey-color);
    border-radius: 9999px;
    border: none;
    padding: 0.5em;
    height: 100%;
    position: relative;
    z-index: 1000;
    transition: color 0.3s ease;
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ActionBtn:active,
.ActionBtn:hover {
    background-color: var(--grey-color);
}