.headerBody {
  padding: 1em;
  height: 17vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.headerContent {
  border-radius: 9999px;
  background-color: var(--white-color);
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

.headerLogo {
  padding: 0 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  border-radius: 9999px;
  position: absolute;
  left: 0;
}

.headerLogo img {
  aspect-ratio: 1/1;
  height: 2em;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: .3em;
  background-color: var(--grey-color);
  border-radius: 9999px;
  position: relative;
}

.navBarBtn {
  text-decoration: none;
  font-size: 1em;
  color: var(--black-color);
  border-radius: 9999px;
  padding: .8em;
  height: 100%;
  position: relative;
  z-index: 1000;
  user-select: none;
  transition: color 0.3s ease;
}

.navBarBtn:hover {
  color: #000;
}

.navBarBtn.active {
  color: var(--white-color);
}

.selection {
  position: absolute;
  background-color: var(--black-color);
  border-radius: 9999px;
  z-index: 0;
  pointer-events: none;
}

.profileConteiner{
  margin-right: 1em;
  display: flex;
  gap: .5em;
  align-items: center;
  position: absolute;
  right: 0;
}

.profileImg{
  background-color: var(--black-color);
  aspect-ratio: 1/1;
  height: 3em;
  border-radius: 9999px;
}

.profileInfo{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profileInfo h4{
  height: fit-content;
}

.AppointmentActionBtnContaier {
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}