@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.navbarBody{
    display: flex;
    height: 8vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    margin: .5em;
    padding: 0 .5em;
    background-color: #ededed;
    font-family: "Inter", sans-serif;
}
.greenBtn{
    color: #3A7300;
}
.navBtn{
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1em;
}
.navLBtn{
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5em;
}
.navRBtn{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.5em;
    gap: 0.5em;
}
.profileLogo{
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    background-color: black;
}
.appointmentCreationBody{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.473);
}
.appointmentCreationContent{
    display: flex;
    gap: .5em;
    padding: 1.5em;
    border: 1px ,solid red;
    width: 50%;
    height: 50%;
    background-color: #ededed;
    border-radius: 10px
}
.appointmentCreationLeft{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}
.PIB{
    font-size: 1.5em;
    padding: .5em;
    width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}
.dateButton{
    display: flex;
    gap: .5em;
    width: 100%;
}
.dateButton button{
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
    padding: .5em;
    height: fit-content;
    background-color: white;
}
.checkboxContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.checkboxContainer label{
    font-size: 1em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.birthContainer{
    width: 100%;
    display: flex;
    gap: .5em;
}
.birthContainer button{
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
    padding: .5em;
    height: fit-content;
    background-color: white;
    width: 100%;
}
.appointmentComent,
.alergy{
    width: 100%;
    border-radius: 5px;
    padding: .5em;
    border: 1px solid black;
}
.contacts{
    width: 100%;
    display: flex;
    gap: .5em;
}
.number{
    width: fit-content;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid black;
}
.stat{
    width: 70%;
    border: 1px solid black;
    border-radius: 5px;
    padding: .5em;
}
.appointmentCreationRight{
    width: 50%;
    display: flex;
    gap: .5em;
    flex-direction: column;
}
.appointmentCreationRight textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px; 
    padding: .5em;
    font-size: 1.5em;
    border: 1px solid black;
}
.createAppointmentBTN{
    font-size: 1.5em;
    font-weight: 600;
    padding: .5em;
    background: transparent;
    color: #5cb800;
    border: 2px solid #5cb800;
    border-radius: 10px;
    box-shadow: none;
}