@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: #ededed;
}
.content{
    display: flex;
    height: 50vh;
    width: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
}
.logoContainer{
    width: 30%;
}
.signUpInputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.signUpInputContainer h1{
    text-transform: uppercase;
    font-size: 3em;

}
.loginCover{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    height: fit-content;
}
.signUpInput{
    border: none;
    padding: 1em;
    border-radius: 10px;
    width: 80%;
    font-size: 1em;
    position: relative;
}
.signUpBTNContainer{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    font-size: 1em;
}
.signUpInputBTN{
    border: 2px solid black;
    padding: .5em 1.5em;
    font-weight: 600;
    font-size: 1.5em;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out .1s;
}
.signUpInputBTN:hover{
    background-color: #bfbfbf;
}
.signUpInputBTN:active{
    transform: translateX(2px) translateY(2px);
}
.googleLogo{
    font-size: 3em;
    cursor: pointer;
}
.passwordContainer{
    width: 80%;
    position: relative;
}
.passwordContainer input{
    width: 100%;
}
.togglePasswordBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}