<<<<<<< HEAD
.calendarContainer {
    margin: 0 1em;
    padding: .3em;
    background-color: var(--white-color);
    border-radius: 9999px;
    display: flex;
    justify-content: space-between;
}

.ActionBtn {
    text-decoration: none;
    font-size: 1em;
    color: var(--black-color);
    background-color: var(--grey-color);
    border-radius: 9999px;
    border: none;
    padding: 0.5em;
    height: 100%;
    position: relative;
    z-index: 1000;
    transition: color 0.3s ease;
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

.ActionBtn:active,
.ActionBtn:hover {
    background-color: var(--grey-color);
}

.calendarBtnActive {
    text-decoration: none;
    font-size: 1em;
    color: var(--black-color);
    background-color: var(--dark-grey-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    padding: 0.5em;
    height: 100%;
    position: relative;
    z-index: 1000;
    transition: color 0.3s ease;
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

.calendarBox{
    position: fixed;
    z-index: 1000;
}

.appointmetnBtnActive {
    text-decoration: none;
    font-size: 1em;
    color: var(--black-color);
    background-color: var(--dark-grey-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    padding: 0.5em;
    height: 100%;
    position: relative;
    z-index: 1000;
    transition: color 0.3s ease;
    display: flex;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}

.appointmentCreationBox{
    position: fixed;
    right: 1.3em;
    z-index: 1000;
}

.appointmentsContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    height: 89vh;
    padding: 1em;
}

.room {
    border-radius: 20px;
    padding: 1em;
    background-color: var(--white-color);
    position: relative;
    height: 24em;
}

.roomName {
    height: 1.5em;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.appointmentContainer {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    height: 19.3em;
    overflow: scroll;
}

.roomPersonal {
    height: 1.2em;
    display: flex;
    justify-content: space-between;
}

.roomPersonal h5 {
    font-weight: 300;
}
=======
.appointmentsContent {
  height: 83vh;
  padding: 1em;
}

.allClinicTabContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.personalTabContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.room,
.day {
  border-radius: 20px;
  padding: 1em;
  background-color: var(--white-color);
  position: relative;
  height: 22.5em;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* .roomName,
.appointmentContainer,
.roomPersonal{
} */

.roomName,
.dayName {
  height: 1.5em;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.appointmentContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 17.7em;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  border-radius: 20px;
}

.appointmentPersonalContainer {
  height: 19em;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 30px;
}

.roomPersonal {
  height: 1.2em;
  display: flex;
  justify-content: space-between;
}

.roomPersonal h5 {
  font-weight: 300;
}
>>>>>>> 33cbe627c445291d1b8df11be8f7f3892ffaee8b
