@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.content{
    display: flex;
    height: 70vh;
    width: 40%;
    background-color: #D9D9D9;
}
.logoContainer{
    width: 30%;
}
.signUpInputContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.signUpInputContainer h1{
    text-transform: uppercase;
    font-size: 3em;

}
.signUpInput{
    border: none;
    padding: 1em;
    border-radius: 10px;
    width: 65%;
    font-size: 1em;
}
.signUpBTNContainer{
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-around;
}
.signUpInputBTN{
    border: 2px solid black;
    padding: .5em 1.5em;
    font-weight: 600;
    font-size: 1.5em;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease-in-out .1s;
}
.signUpInputBTN:hover{
    background-color: #bfbfbf;
}
.signUpInputBTN:active{
    transform: translateX(2px) translateY(2px);
}
.googleLogo{
    font-size: 5em;
    cursor: pointer;
}