@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

.appBody {
    background-color: var(--grey-color);
}

:root {
    --white-color: #FFFFFF;
    --grey-color: #eeeeee;
    --dark-grey-color: #e2e2e2;
    --black-color: #03050c;
    --blue-color: #3B60E4;
}