.appointmentBody {
    display: flex;
    width: 100%;
    background-color: var(--grey-color);
    padding: .5em;
    border-radius: 9999px;
}
.appointmentHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.clientName,
.appointmentTime{
    font-size: 1em;
}
.appointmentsComplains{
    width: 50%;
    flex-wrap: wrap;
}
.complaints{
    font-size: .8em;
}
.coment {
    font-size: .8em;
}
.appointmentsEmoji{
    margin-right: 1em;
}